.button {
    width: 160px;
    height: 48px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;


    &:hover {
        cursor: pointer;
    }
}

.black {
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: #4C4C4C;
    }

    
}

.orange {
    background-color: #D87D4A;
    color: #fff;

    &:hover {
        background-color: #FBAF85;
    }

    &:active {
        background-color: #D87D4A;
    }
   
}

.transparent {
    background: none;
    color: #000;
    border: 2px solid #000;


    &:hover {
        background-color: #000;
        color: #fff;
    }

    &:active {
        background-color: #000;
    }
}

.cart {
    background-color: #D87D4A;
    color: #fff;
    width: 100%;
    min-height: 40px;

    &:hover {
        background-color: #FBAF85;
    }

    &:active {
        background-color: #D87D4A;
    }

    &:disabled {
        background-color: #4C4C4C;
    }

}

