.home_wrapper {
    width: 100%;

    .home_head_wrapper {
        width: 100%;
        height: 630px;
        display: flex;
        background-color: #1a1818;
        justify-content: center;
        background-image: url(../../../public/assets/home/desktop/image-hero.jpg);
        background-position: bottom;
        background-repeat: no-repeat;

        .home_head {
            width: 1110px;
            height: 630px;

            .text_block {
                color: #FFF;
                width: 400px;
                height: 350px;
                margin-top: 130px;

                h3 {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 10px;
                    opacity: 50%;
                }

                h1 {
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 58px;
                    letter-spacing: 2px;
                }

                p {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 0px;
                    opacity: 75%;
                }
            }



        }


    }

    .grid_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 200px 0;

        .grid {
            display: grid;
            width: 1110px;
            height: 1250px;
            grid-template: auto 320px 320px / 1fr 1fr;
            gap: 30px;




            .first {
                background-color: #D87D4A;
                background-image: url(../../../public/assets/home/desktop/pattern-circles.svg);
                background-repeat: no-repeat;
                grid-area: 1 / 1 / span 1 / span 2;
                display: flex;
                justify-content: space-around;
                border-radius: 8px;


                .text_block {
                    width: 350px;
                    height: 300px;
                    margin-top: 130px;
                    color: #FFF;

                    h1 {
                        font-size: 56px;
                        font-weight: 700;
                        line-height: 58px;
                        letter-spacing: 2px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0px;
                        opacity: 0.5;

                    }
                }

                img {
                    width: 410px;
                    align-self: flex-end;
                }
            }

            .second {
                grid-area: 2 / 1 / span 1 / span 2;
                background-image: url(../../../public/assets/home/desktop/image-speaker-zx7.jpg);
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 95px;

                h2 {
                    font-family: Manrope;
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 38px;
                    letter-spacing: 2px;
                    text-align: left;

                }
            }

            .third {
                grid-area: 3 / 1 / span 1 / span 1;
                background-image: url(../../../public/assets/home/desktop/image-earphones-yx1.jpg);
                border-radius: 8px;
            }

            .fourth {
                grid-area: 3 / 2 / span 1 / span 1;
                background-color: #F1F1F1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 95px;
                border-radius: 8px;

                h2 {
                    font-family: Manrope;
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 38px;
                    letter-spacing: 2px;
                    text-align: left;

                }
            }


        }




    }

    @media (max-width: 1150px) {
        .home_head_wrapper {
            background-image: url(../../../public/assets/home/tablet/image-header.jpg);
            background-size: cover;

            .home_head {
                width: 990px;
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

        .grid_wrapper {
            margin: 100px 0 0 0;

            .grid {
                width: 690px;
                height: 1425px;
                grid-template: auto 320px 320px / 1fr 1fr;
                gap: 30px;

                .first {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: flex-start;

                    .text_block {
                        margin: 0;

                        h1 {
                            margin-top: 64px;
                        }

                        p {
                            margin-bottom: 40px;
                        }

                    }

                    img {
                        width: 197px;
                        height: 237px;
                        align-self: center;
                        margin-top: 52px;
                    }
                }

                .second {
                    background-image: url(../../../public/assets/home/tablet/image-speaker-zx7.jpg);
                    background-size: cover;
                    padding-left: 40px;
                }

                .third {
                    background-image: url(../../../public/assets/home/tablet/image-earphones-yx1.jpg);
                    background-size: cover;

                }

                .fourth {
                    padding-left: 40px;
                }
            }



        }


    }

    @media (max-width: 700px) {
        .home_head_wrapper {
            background-image: url(../../../public/assets/home/mobile/image-header.jpg);

            .home_head {
                width: 330px;
            }
        }

        .grid_wrapper {

            .grid {
                width: 330px;
                grid-template: 600px 320px 200px 200px / 330px;

                .first {
                    grid-area: 1 / 1 / span 1 / span 1;

                    .text_block {
                        h1 {
                            font-size: 36px;
                            font-weight: 700;
                            line-height: 40px;
                            letter-spacing: 1.2857142686843872px;
                            margin: 32px 0 24px 0;

                        }

                        p {
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 25px;
                            letter-spacing: 0px;

                        }
                    }



                    img {
                        height: 207px;
                        width: 172px;
                    }

                }

                .second {
                    grid-area: 2 / 1 / span 1 / span 1;
                    background-image: url(../../../public/assets/home/mobile/image-speaker-zx7.jpg);


                }

                .third {
                    grid-area: 3 / 1 / span 1 / span 1;
                    background-image: url(../../../public/assets/home/mobile/image-earphones-yx1.jpg);


                }

                .fourth {
                    grid-area: 4 / 1 / span 1 / span 1;

                }

            }
        }
    }

}