.item_wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 160px;
    justify-content: space-between;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }


    img {
        width: 540px;
        border-radius: 10px;
    }

    .item_info {
        width: 445px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 10px;
            color: #D87D4A;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 44px;
            letter-spacing: 1.4285714626312256px;

        }

        p {
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0px;
        }

        h3 {
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 1.2857142686843872px;
            margin-bottom: 35px;
        }

        .button_box {
            display: flex; 

            .counter {
                width: 120px;
                height: 50px;
                background-color: #F1F1F1;
                margin-right: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .count_button {
                    width: 33%;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color:#D87D4A;

                    }
                }

                .meaning {

                }
            }
        }
    }
}

.even {
    flex-direction: row-reverse;
}