.header {
    background-color: #1a1818;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 1110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #979797;

        .hamburger {
            display: none;
            cursor: pointer;
        }

        nav {
            ul {
                width: 430px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-style: bold;
                font-size: 13px;
                line-height: 25px;
                line-height: 141%;
                color: #fff;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }



    }



    .nav_bar_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);


    }

    @media (max-width: 1150px) {
        .wrapper {
            margin: 0 40px;

            .hamburger {
                display: block;
            }

            nav {
                display: none;
            }

            a {
                width: 100%;
                height: 25px;

                .logo {
                    margin-left: 40px;
                }
            }

        }

        .nav_bar_wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            z-index: 10;
        }



    }

    @media (max-width: 700px) {
        .wrapper {
            a {
                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                }
            }

        }

    }

}