.nav_bar_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 160px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;

    .nav_bar {
        margin-bottom: 160px;
        width: 1110px;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #000;
        }


        .item {
            width: 350px;
            height: 285px;
            background-image: url('../../../public/assets/shared/desktop/Mask.png');
            background-repeat: no-repeat;
            background-position: bottom;
            display: flex;
            flex-direction: column;
            align-items: center;



            img {
                height: 200px;
            }

            h2 {
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 1.2857142686843872px;
                margin: 0px 0 15px 0;
            }

            p {
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1px;
                margin: 0;

                img {
                    height: 12px;
                    margin-left: 8px;
                }
            }

            &:hover {
                cursor: pointer;

                p {
                    color: #D87D4A;
                    ;
                }
            }
        }
    }

    @media (max-width: 1150px) {
        margin-top: 90px;

        .nav_bar {
            width: 690px;
            margin: 50px 0 60px 0;

            .item {
                width: 225px;
                height: 180px;
                background-size: 100%;


                img {
                    height: 105px;
                }



            }
        }

    }

    @media (max-width: 700px) {


        .nav_bar {
            width: 330px;
            flex-direction: column;
            align-items: center;

            .item {
                margin: 0 0 30px 0;
                width: 330px;
                height: 240px;

                img {
                    height: 150px;
                }
               
            }

        }
    }

}