.about_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;

    .about {
        width: 1110px;
        display: flex;
        justify-content: space-between;

        .about_text {
            width: 445px;
            align-self: center;

            h2 {
                font-family: Manrope;
                font-size: 40px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: 1.4285714626312256px;

                span {
                    color: #D87D4A;
                }
            }

            p {
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;

            }
        }

        .about_img {
            border-radius: 8px;
            background-image: url(../../../public/assets/shared/desktop/image-best-gear.jpg);
            height: 580px;
            width: 540px;
        }
    }

    @media (max-width: 1150px) {


        .about {
            width: 690px;
            flex-direction: column-reverse;
            text-align: center;

            .about_text {
                width: 575px;
                margin-top: 20px;
            }


            .about_img {
                background-image: url(../../../public/assets/shared/tablet/image-best-gear.jpg);
                height: 300px;
                width: 100%;
                background-size: 100%;
            }

        }
    }
}

.footer_wrapper {
    width: 100%;
    background-color: #101010;
    display: flex;
    justify-content: center;

    .footer {
        width: 1110px;
        margin: 75px 0 50px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .footer_head {
            width: 100%;
            display: flex;
            justify-content: space-between;

            img {
                margin-bottom: 35px;
            }

            nav {
                ul {
                    width: 430px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-style: bold;
                    font-size: 13px;
                    line-height: 25px;
                    line-height: 141%;
                    color: #fff;
                    list-style: none;
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }



        }

        .footer_main {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .footer_text {

                width: 540px;

                p,
                span {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 0px;
                    color: #fff;
                    opacity: 50%;
                }

                p {
                    margin-bottom: 50px;
                }
            }


            .social_media {
                width: 120px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;

                a {
                    height: 24px;
                }



            }



        }

        @media (max-width: 1150px) {
            width: 690px;

            .footer_head {
                flex-direction: column;

                nav {
                    ul {
                        padding: 0;
                    }
                }
            }

            .footer_main {
                .social_media {
                    margin: 0;
                }
            }
        }
    }
}