.popup_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);


    .popup {
        position: absolute;
        top: 150px;
        right: 12.5%;
        width: 330px;
        height: 430px;
        background-color: #fff;
        border-radius: 8px;
        padding: 33px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 1.2857142686843872px;
                margin: 0;
            }

            span {
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                text-decoration: underline;
                opacity: 50%;
                cursor: pointer;
            }
        }

        .items {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            height: 100%;
            

            &::-webkit-scrollbar {
                width: 0px;
            }

            .empty_logo {
                height: 220px;
                width: 220px;
                margin: auto;
            }

        }

        .total {
            display: flex;
            justify-content: space-between;
            margin: 32px 0 24px 0;

            h2 {
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                opacity: 50%;
                margin: 0;
            }

            span {
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 0px;
            }
        }
    }
}

img {
    cursor: pointer;
}