.full_item_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0 160px 0;

    .full_item {
        width: 1110px;

        .back {
            margin-bottom: 80px;

            a {
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                text-decoration: none;
            }
        }


        .about {
            display: flex;
            justify-content: space-between;
            margin: 160px 0 160px 0;

            .features {
                width: 635px;

                h2 {
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: 1.1428571939468384px;
                }

                p {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    letter-spacing: 0px;
                }
            }

            .in_the_box {
                ul {
                    padding: 0;

                    li {
                        list-style-type: none;
                        margin-bottom: 10px;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0px;


                        span {
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 25px;
                            letter-spacing: 0px;
                            color: #D87D4A;
                            margin-right: 15px;

                        }
                    }
                }
            }
        }


        .image_box {
            width: 100%;
            display: grid;
            grid-template: 1fr 1fr / 1fr 1.4fr;
            gap: 30px;
            margin-bottom: 160px;

            img {
                border-radius: 8px;
            }

            .first {
                grid-area: 1 / 1 / span 1 / span 1;
            }

            .second {
                grid-area: 2 / 1 / span 1 / span 1;
            }

            .third {
                grid-area: 1 / 2 / span 2 / span 1;
            }

        }

        .also_like {
            h2 {
                font-size: 32px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 1.1428571939468384px;
                text-align: center;
                margin-bottom: 65px;

            }

            .items {
                display: flex;
                justify-content: space-between;




            }
        }
    }

    @media (max-width: 1150px) {
        .full_item {
            width: 690px;

            .about {
                flex-direction: column;
                margin-bottom: 70px;

                .in_the_box {
                    width: 550px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 50px;
                }
            }

            .image_box {
                gap: 16px;

                .first {
                    width: 277px;
                }

                .second {
                    width: 277px;
                }

                .third {
                    width: 395px;
                }
            }
        }
    }

    @media (max-width: 700px) {
        .full_item {
            width: 330px;

            .about {

                .features {
                    width: 330px;
                }
                .in_the_box {
                    width: 330px;
                    flex-direction: column;
                }
            }

            .image_box {
                grid-template: 174px 174px 368px / 330px;

                .first {
                    grid-area: 1 /1 ;
                    width: 330px;
                }

                .second {
                    grid-area: 2 / 1;
                    width: 330px;

                }

                .third {
                    grid-area: 3 / 1;
                    width: 330px;

                }
            }

            .also_like {
                .items {
                    width: 330px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }
            }
        }
    }
}